html, body {
    height: 100%;
    width:100%;
    overflow-x: hidden;
    margin: 0;
}
.navbar {
    height: 10vh;
}
#map-container {
    height: 90vh;
}
#map {
    position: relative;
    height: 100%;
    width: 100%;
}
#information{
 height:50vh;
}