:root{
    font-size: 16px;

    --clr-text-primary: #f99c2a;
    --clr-text-secondary: #f0b190;
    --clr-text-content: #000;
    --clr-text-default: #fff;
    --clr-text-dafault-hover: #ccc;

    --clr-background-content: #547701;
    --clr-background-footer: #546201;
    --clr-background-color: #6399c7;
    --clr-background-section: #417aac;
    --clr-background-card: #fff;

    --fs-xxl: clamp(3.5rem, 8vw +  1rem, 7rem);
    --fs-xl: clamp(1.5rem, 4vw +  1rem, 5rem);
    --fs-l: clamp(0.5rem, 0.2vw +  1rem, 1.3rem);
    --fs-m: clamp(0.3rem, 0.1vw +  1rem, 1rem);
    --fs-s: clamp(0.2rem, 0.1vw +  1rem, 0.9rem);

    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* user-select: none; */
}
body{
    min-height: 100vh;
}
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
header .logo{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    background: linear-gradient(to right,var(--clr-text-secondary), var(--clr-text-primary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a{
    color: var(--clr-text-primary);
    font-size: var(--fs-l);
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 16px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background, color;
}

header nav a:hover{
    background: linear-gradient(to bottom, var(--clr-text-secondary), var(--clr-text-primary));
    color: var(--clr-text-default);
}
.logo, nav{
    transform: translateY(-70px);
    transition: 0.8s;
}